**Basics of R Programming**

Let us learn basic building blocks of the R programming language.

In most comman way R can be though as an interactive calculator.

Try executing following code block

In [ ]:
In [1]:
#Code cell
5*7

35

In [ ]:
In [2]:
typeof(12)
'double'


Store computed value in a variable

The way you assign a value to a variable in R is by using the assignment operator, which is just a 'less than'symbol followed by a 'minus' sign. It looks like this: <-

In [ ]:
In [59]:
#Store result of 5+7 in varible c
c<-5+7
c

12

In [ ]:
In [4]:
typeof(c)

'double'


We can further use variable c in another exrpession to create variable b which is 1 excess that one fourth of value of c

In [ ]:
In [5]:
b<-c/4+1
b 
d=c/4+1
d
14.25

In [ ]:
In [6]:
typeof(b)
typeof(d)

'double'


Creation of Vector

The easiest way to create a vector is with the c() function, which stands for 'concatenate' or 'combine'.

To create a vector containing the numbers 1.1, 9, and 3.14, type c(1.1, 9, 3.14). Try it now and store the result in a variable called z in following code block.

In [ ]:
In [60]:
z <- c(1.1, 9, 3.14)
z
z1 <- c(1.1, 9, 5,566,4564.545646)
z1

1.1.1
2.9
3.3.14

1.1.1
2.9
3.5
4.566
5.4564.545646

In [ ]:
In [8]:
typeof(z)
typeof(z1)
class(z)

'character'

'double'

'character'

In [ ]:
In [9]:
z
1.'1.1'
2.'9'
3.'dhg'

In [ ]:
In [10]:
#Get Documentation about concatinate
?c
#help(c)

You can combine vectors to make a new vector.

Create a new vector that contains z, 555, then z again in that order. Don't assign this vector to a new variable, so that we can just see the result immediately.

In [ ]:
In [61]:
c(z,555,z)
1.1.1
2.9
3.3.14
4.555
5.1.1
6.9
7.3.14

In [ ]:
In [12]:
z<-c(3,6,5)

Using Vector in Expression

compute z^2 + 3 and check output

In [ ]:
In [13]:
z
z^2+3
1.3
2.6
3.5

1.12
2.39
3.28


Comman Arithmatic Operators in R

+, -, /, *, ^ are comman operators and sqrt, abs are arithmatic functions in R

When given two vectors of the same length, R simply performs the specified arithmetic operation (+, -, * etc.) element-by-element. If the vectors are of different lengths, R 'recycles' the shorter vector until it is the same length as the longer vector.

When we do z * 2 + 100, z is a vector of length 3, but technically 2 and 100 are each vectors of length 1.

In [ ]:
In [14]:
y<-rep(2,10)
y
length(y)

1.2
2.2
3.2
4.2
5.2
6.2
7.2
8.2
9.2
10.2

In [ ]:

10
In [15]:
# Does recycling explains output of following expression
c(1, 2, 3, 4) + c(0, 10)
c(1, 2, 3, 4) + c(0, 10, 0 ,10)
c(1, 2, 3, 4, 5) + c(2, 10)
c(1, 2, 3, 4, 5) + c(2, 10, 2, 10, 2)

1.1
2.12
3.3
4.14

1.1
2.12
3.3
4.14


Warning message in c(1, 2, 3, 4, 5) + c(2, 10):
“longer object length is not a multiple of shorter object length”

How to access disk?

In [ ]:
In [16]:
curdir<-getwd()
curdir

'/content'

In [ ]:
In [17]:
ls()

1.'b'
2.'c'
3.'curdir'
4.'d'
5.'y'
6.'z'
7.'z1'

In [ ]:
In [18]:
#show you files in PWD
list.files()
#dir('.')

'sample_data'

In [ ]:
In [19]:
list.dirs('sample_data')

'sample_data'

In [ ]:
In [20]:
old_dir<-getwd()

In [ ]:
In [21]:
#creates a folder on ur device 
dir.create('test2')

In [ ]:
In [22]:
list.dirs()

1.'.'
2.'./.config'
3.'./.config/configurations'
4.'./.config/logs'
5.'./.config/logs/2021.03.01'
6.'./sample_data'
7.'./test2'

In [ ]:
In [23]:
getwd()
'/content'

In [ ]:
In [24]:
file.create('mytest.R')
TRUE

In [ ]:
In [25]:
dir()

1.'mytest.R'
2.'sample_data'
3.'test2'

In [ ]:
In [26]:
file.exists('/test2/mytest.R')
file.exists('mytest.R')

FALSE

TRUE

In [ ]:
In [28]:
file.rename('mytest.R','mytest2.R')
TRUE

In [ ]:
In [29]:
dir()
1.'mytest2.R'
2.'sample_data'
3.'test2'

In [ ]:
In [30]:
file.copy('mytest2.R','mytest3.R')
TRUE

In [ ]:
In [31]:
file.path('testdir2','testdir3')
'testdir2/testdir3'

In [ ]:
In [32]:
dir.create(file.path('testdir2','testdir3'),recursive = TRUE)

In [ ]:
In [33]:
dir()
1.'mytest2.R'
2.'mytest3.R'
3.'sample_data'
4.'test2'
5.'testdir2'

In [ ]:
In [34]:
setwd('testdir2')

In [ ]:
In [35]:
dir()
getwd()

'testdir3'

'/content/testdir2'


Complete following tasks

Write R Code:

To create a directory named myworkplace in current working dirctory.
Create a folders/directories exp1 and exp2 in it.
Navigate to exp1 and create a file named my_file.txt.
Copy it to my_file1.txt
List files and folders in PWD and also in '/contents' directory
Display only File access permisssion in the output for every file in exp1 folder.

In [ ]:
In [43]:
getwd()
dir.create('myworkplace')
getwd()


'/content/testdir2'

'/content/testdir2'

In [ ]:
In [58]:
setwd('/content/testdir2/myworkplace/exp1')
file.access('my_file.txt')
file.access('my_file1.txt')
my_file.txt: 0
my_file1.txt: 0

In [ ]:
In [44]:
setwd('myworkplace')
getwd()

'/content/testdir2/myworkplace'

In [ ]:
In [45]:
dir.create('exp1')
dir.create('exp2')
setwd('exp1')

In [ ]:
In [46]:
getwd()
'/content/testdir2/myworkplace/exp1'

In [ ]:
In [47]:
file.create('my_file.txt')

TRUE

In [ ]:
In [48]:
file.copy('my_file.txt','my_file1.txt')

TRUE

In [ ]:
In [49]:
list.files()

1.'my_file.txt'
2.'my_file1.txt'

In [ ]:
In [51]:
setwd('/content')
getwd()

'/content'

In [ ]:
In [52]:
list.files()

1.'mytest2.R'
2.'mytest3.R'
3.'sample_data'
4.'test2'
5.'testdir2'